{% extends "SiteTourneurFraiseurBundle::layout.html.twig" %}

{% block body %}
	<div id="Text">
		<div>
			<div id="picto-envoyer-cv">
				{% image 'bundles/app/img/picto_cv.png' %}
					<img src="{{ asset_url }}" />
				{% endimage %}
				
			</div>
			<h1>RECAPITULATIF</h1>

			{{ include ('SiteTourneurFraiseurBundle:Default:Banniere.html.twig') }}
			<div id="TextCorps">
				{{ include ('SiteTourneurFraiseurBundle:Annonce:Annonce.html.twig') }}
			</div>
		</div>
	</div>

{% endblock %}