{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
	<div id="picto-envoyer-cv">
		<img src="../../bundles/app/img/picto_cv.png" alt="Déposer votre candidature"/>
	</div>
	<h1>METTEZ A JOUR VOTRE MOT DE PASSE</h1>
	
	<div id="ModifInfo">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			{% if app.user.type == "Candidat" %}
				Vous êtes connecté en tant que <b>{{ app.user.nomCandidat }}</b>
			{% else %}	
				Vous êtes connecté en tant que <b>{{ app.user.societe }}</b>
			{% endif %}
		{% endif %}	
	</div>
	<div id="retour-offre" style="margin:0">
		<a href="{{ path('Espace')}}">Retour à votre profil</a>
	</div>
	<div id="TextCorps">
		{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
	</div>
{% endblock fos_user_content %}
