{% extends "SiteTourneurFraiseurBundle::layout.html.twig" %}

{% block body %}
	<div id="Text">
		<div>
			<div id="picto-envoyer-cv">
				{% image 'bundles/app/img/picto_cv.png' %}
					<img src="{{ asset_url }}" />
				{% endimage %}
				
			</div>
			<h1>NOUS CONTACTER</h1>

			<div id="TextCorps">

				{{ form(form)}}
				
			</div>
		</div>
	</div>
			
{% endblock %}