{% extends "SiteTourneurFraiseurBundle::layout.html.twig" %}

{% block title %}
	
{% endblock %}

{% block body %}

	<div id="Text">
		<div>
			<div id="picto-envoyer-cv">
				{% image 'bundles/app/img/picto_cv.png' %}
					<img src="{{ asset_url }}" />
				{% endimage %}
			</div>
		<h1>EN PRODUCTION</h1>		
			<div id="TextCorps">	
				En production
				</br></br>
				
			</div>
		</div>
	</div>
	
{% endblock %}